<!--background div-->
<div class="jumbotron text-center">

<!--Container Div Start-->
<div class="container">
  <h3><b>BMI Calculator</b></h3>
  <h3>Enter your Weight</h3>
<!--Weight Div Start-->
<div id="weight">

  <div id="stone">
  <b>Stone</b><br>
  <div class="form-group">
    <input [(ngModel)]="stone"  name="stone" (keyup.enter)="stoneConvert()" type="number"  class="form-control" placeholder="Enter a number">
  </div>
  </div>

  <div id="pounds">
  <b>Pounds</b><br>
  <div class="form-group">
    <input [(ngModel)]="pounds"  name="pounds" (keyup.enter)="poundConvert()" type="number"  class="form-control" placeholder="Enter a number">
  </div>
  </div>

  <div id="kg">
  <b>OR KGS</b><br>
  <div class="form-group">
    <input [(ngModel)]="kgs"  name="kg" (keyup.enter)="kgConvert()" type="number"  class="form-control" placeholder="Enter a number">
  </div>
  </div>
  <!--Weight Div End-->
</div> <br><br>

<h3>And your Height</h3>
<!--Height Div Start-->
<div id="height">
  <div id="feet">
  <b>Feet</b><br>
  <div class="form-group">
    <input [(ngModel)]="feet"  name="feet" (keyup.enter)="feetConvert()" type="number"  class="form-control" placeholder="Enter a number">
  </div>
  </div>

  <div id="inches">
  <b>Inches</b><br>
  <div class="form-group">
    <input [(ngModel)]="inches"  name="inches" (keyup.enter)="inchesConvert()" type="number"  class="form-control" placeholder="Enter a number">
  </div>
  </div>

  <div id="metres">
  <b>OR Metres</b><br>
  <div class="form-group">
    <input [(ngModel)]="metres"  name="metres" (keyup.enter)="metresConvert()" type="number"  class="form-control" placeholder="Enter a number">
  </div>
  </div>
<!--Height Div End-->
</div>

<!--Calculate BMI Button-->
<br><br><button (click)="(calculateBmi())">Calculate BMI</button><br>
  
<h6><b>Enter your weight either in stones/pounds or kilograms and your height either in feet/inches or metres.</b></h6><br>

<h6><b>Result:</b></h6>
<div class="form-group">
<input [(ngModel)]="message" name="result "size="75px" type="text"/>
</div>

<!--Container Div End-->
</div>

<!--end--> 
</div>